@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

/* Chelsea Market */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* Roboto Mono */

* {
	font-family: "Roboto Mono";
}

.plan {
	background-color: #ff764e;
}

.learn {
	background-color: #5ed3eb;
}

.get {
	background-color: #ffcd69;
}

h1 {
	font-family: "Chelsea Market";
}

#section2 {
	background-color: #ddb9a3;
}

footer {
	background-color: #f9e7dc;
}

span {
	font-weight: bold;
}
